body, 
#root {
  min-width: 100%;
  margin: 0 auto;
}
.top-nav{
  display: flex;
  justify-content: left;
  border: 1px solid #000;
  // green gradient
  background: linear-gradient(180deg, #438a22 0%, #2b2b2b 100%); 
    h1{
      font-size: 2rem;
      line-height: 1.1;
      margin-left: 2rem;
    }
  }

.content{
  display:flex;
  min-height: 90%;
  .sidebar{
    width: 20%;
    padding:1rem;
  }
  .swagger-main{
    width: 80%;
    padding:1rem;
    background-color: #e6e6e6;
  }
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: #2b2b2b;
  color: #fff;
  font-size: 0.75rem;
  text-align: center;
  margin-top: 1rem;
}